.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
    width: 50%;
    height: 50%;
    overflow: scroll;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
